body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1; /* Set a light background color */
}

nav {
  background-color: #2c3e50; /* Dark background color */
  padding: 10px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ecf0f1; /* Light text color */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.menu a:hover {
  color: #3498db; /* Color on hover */
}

.main-content {
  padding: 40px; /* Increased padding for better spacing */
  background-color: #ffffff; /* White background for the main content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  border-radius: 8px; /* Rounded corners for a modern look */
  margin: 40px; /* Increased margin for better separation */
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}

h1 {
  color: #3498db; /* Highlight color for the heading */
}

h1, h2, h3, h4 {
  text-align: center;
}

.header-photo {
  object-position: top;
  object-fit: cover;
  width: 300px; /* Set a fixed width for better control */
  height: 300px; /* Set a fixed height for better control */
  /* border-radius: 50%; */
  margin: 20px auto; /* Adjusted margin for better spacing */
}
